[submodule "staff-management-backend"]
	path = staff-management
	url = https://github.com/GTHell/staff-management-backend
	branch = main
[submodule "staff-management-app"]
	path = staff-management-app
	url = https://github.com/GTHell/staff-management-web-app
	branch = main
